{% extends 'master.html' %}
{% if liste %}
    {% block title %}
        List of programs
        <button class="btn"><a href="/admin/">Admin Site</a></button>
    {% endblock %}

    {% block content %}
    <div class="container">
        {% for cursus in liste %}
          <div class='row'>
            <div class='col-sm-4'>
            <a href="./lycee/cursus/{{ cursus.id }}">{{ cursus.name }}</a>
                <button type="button" class="btn btn-warning"><a href="./presence/curususcall/{{ cursus.id }}">Call of roll</a></button>
             </div>
          </div>
        {% endfor %}
    <button type="button" class="btn btn-danger"><a href={% url 'create_presence_part' %}>Particular Call of roll</a></button>
    <button class="btn btn-primary"><a href={% url 'create_student' %}>Create a student</a></button>
    <button class="btn btn-info">
          <a href="./presence/">List of presence</a>
    </button>
    <div class="container">
        <div class="container">
         <div class='row'>
        </div>
      </div>
    </div>
   </div>
    {% endblock %}
{% else %}
    <p>No cursus to show.</p>
{% endif %}